
/* Promote Section */
.container-promote {
    background-color:#86EE60;
    margin: 0 4%  0 4%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.promote-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    text-align: middle;
    gap: 20px;
    padding: 10px;
}
.promote-banner h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Outfit', sans-serif;
}

.promote-banner p {
    margin: 0;
    font-size: 1.2rem;
}

.promote-banner a {
    width: 10%;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.promote-banner a:hover {
    background-color: #333333;
}

/* Product Section */
.container-product {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.card {
    border-radius: 5px;
    padding: 5px;
    width: calc(20% - 18px); /* 25% dari lebar container dengan margin antar kartu */
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column; /* Menjaga struktur vertikal secara default */
    gap: 5px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card h3 {
    margin: 0;
    font-size: 1rem;
}

.card p {
    margin: 0;
    font-size: 0.95rem;
    font-weight: bold;
}

.card button {
    padding: 8px 15px;
    background-color: #86EE60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card button:hover {
    background-color: #6EDC3F;
}
